################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SeeGui/v16
/SeeGui/bin/Debug/netcoreapp2.1
/SeeGui/obj
/.vs/SeeGui/DesignTimeBuild
